<?xml version="1.0"?>
<ruleset name="WordPress Coding Standards for Plugins">
	<description>Generally-applicable sniffs for WordPress plugins</description>

	<!-- Check all PHP files in directory tree by default. -->
	<file>.</file>

	<!-- PHP 5.6 and higher. -->
	<config name="testVersion" value="7.4-"/>

	<!--
	Prevent errors caused by WordPress Coding Standards not supporting PHP 8.0+.
	See https://github.com/WordPress/WordPress-Coding-Standards/issues/2035
	-->
	<ini name="error_reporting" value="E_ALL &#38; ~E_DEPRECATED" />

	<!-- Arguments - extension, parallel, colors, show progress, Show sniff codes in all reports -->
	<arg name="extensions" value="php"/>
	<arg name="parallel" value="20"/>
	<arg name="colors"/>
	<arg value="sp"/>
	<arg value="s"/> <!-- Show sniff codes in all reports -->

	<rule ref="WordPress-Core" />
	<rule ref="WordPress-Docs" />
	<rule ref="WordPress-Extra" />
	<rule ref="WordPress-VIP-Go"/>
	<rule ref="PHPCompatibility"/>

	<rule ref="WordPress.WP.I18n">
		<properties>
			<property name="text_domain" type="array">
				<element value="auto-ai-blogger"/>
			</property>
		</properties>
	</rule>

	<!-- Enforce short array syntax -->
   <rule ref="Generic.Arrays.DisallowShortArraySyntax.Found">
       		<severity>0</severity>
   </rule>
   <rule ref="Generic.Arrays.DisallowLongArraySyntax.Found"/>

	<rule ref="WordPress">
		<exclude name="WordPressVIPMinimum.Performance.RemoteRequestTimeout.timeout_timeout" />
		<exclude name="WordPressVIPMinimum.Variables.RestrictedVariables.cache_constraints___SERVER__REMOTE_ADDR__" />
		<exclude name="WordPressVIPMinimum.Variables.ServerVariables.UserControlledHeaders" />
		<exclude name="WordPressVIPMinimum.Functions.RestrictedFunctions.wp_remote_get_wp_remote_get" />
		<exclude name="WordPressVIPMinimum.Variables.RestrictedVariables.cache_constraints___SERVER__HTTP_USER_AGENT__" />
		<exclude name="WordPressVIPMinimum.Functions.RestrictedFunctions.wp_mail_wp_mail" />
	</rule>

	<rule ref="WordPress-Core">
		<exclude name="WordPress.WP.CronInterval.ChangeDetected" />
		<exclude name="WordPress.Files.FileName.InvalidClassFileName" />
		<exclude name="WordPress.WP.CapitalPDangit.Misspelled" />
		<exclude name="WordPress.DB.SlowDBQuery.slow_db_query_tax_query" />
		<exclude name="WordPress.DB.SlowDBQuery.slow_db_query_meta_query" />
		<exclude name="WordPress.DB.DirectDatabaseQuery.NoCaching" />
		<exclude name="WordPress.DB.DirectDatabaseQuery.DirectQuery" />
		<exclude name="WordPress.DB.DirectDatabaseQuery.DirectQuery" />
		<exclude name="WordPress.PHP.YodaConditions.NotYoda" />
	</rule>

	<exclude-pattern>*/.vscode/*</exclude-pattern>
	<exclude-pattern>*/.github/*</exclude-pattern>
	<exclude-pattern>*/bin/*</exclude-pattern>
	<exclude-pattern>*/build/*</exclude-pattern>
	<exclude-pattern>*/dist/*</exclude-pattern>
	<exclude-pattern>*/assets/*</exclude-pattern>
	<exclude-pattern>*/inc/web-notices/*</exclude-pattern>
	<exclude-pattern>*/inc/licensing/*</exclude-pattern>
	<exclude-pattern>*/vendor/*</exclude-pattern>
	<exclude-pattern>*/artifact*</exclude-pattern>
	<exclude-pattern>*/tests/*</exclude-pattern>
	<exclude-pattern>*/libraries/*</exclude-pattern>
	<exclude-pattern>*/.wordpress-org/*</exclude-pattern>
	<exclude-pattern>*/node_modules/*</exclude-pattern>
	<exclude-pattern>assets/build/*</exclude-pattern>
	<exclude-pattern>phpinsights.php</exclude-pattern>
</ruleset>
